<% if @event.invitees.persisted.any? %>
  <ul>
    <% @event.invitees.each do |invitee| %>
      <% next unless invitee.id %>
      <li>
        <%= invitee.name %>
        <%= link_to 'Edit', edit_event_invitee_path(@event, invitee) %>
      </li>
    <% end %>
  </ul>
<% end %>
