<% if @event.invitees.persisted.any? %>
  <ul>
    <% @event.invitees.each do |invitee| %>
      <% next unless invitee.id %>
      <li>
        <%= invitee.name %>
        <%= link_to 'Edit', edit_event_invitee_path(@event, invitee) %>
        <%= link_to 'Remove', event_invitee_path(@event, invitee), 
          method: :delete, 
          confirm: "Do you want to uninvite #{invitee.name}?" %>
        <% if invitee.registration.blank? %>
          Pending
        <% else %>
          Attending
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
