<h1>Registrations#new</h1>

<%= form_for [@event, @registration] do |f| %>
  <% @event.custom_fields.each do |field| %>
    <%= custom_field_tag(field, @registration.custom_field_value(field.name)) %>
  <% end %>
  <%= f.submit "RSVP" %>
<% end %>

