<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @event.registrations.remaining.count %></span>
    <strong class="text-muted">Available Registrations</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @event.registrations.finalized.count %></span>
    <strong class="text-muted">Finalized Registrations</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @event.slots %></span>
    <strong class="text-muted">Total Registrations</strong>
  </li>
</ul>