<h4>
  <span class="text-muted">Date:</span> <%= @event.occurring_on.time.to_formatted_s(:long_ordinal) %>
</h4>
<h4>
  <span class="text-muted">Location:</span> <%= @event.location %>
</h4>
<p>
  <%= @event.description %>
</p>
