<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-chain"></i></span>
  <%= tag :input, value: new_event_registration_url(@event), 
    class: "form-control", type: "text", id: "event-url" %>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="event-url-selector">
      Select Registration URL
    </button>
  </span>
</div>
