#events-show {
  h3 {
    margin-top: 50px;
  }
}

#event-cancelation {
  margin-top: 100px;
  margin-bottom: 100px;
}

.custom-field-divider {
  margin-bottom: 40px;
}

.single-event-overview {
  border-left: 3px solid rgb(255, 203, 63);
  padding-left: 20px;
  margin-bottom: 50px;

  p {
    margin-top: 10px;
  }

  .event-actions {
    margin-top: 15px;
  }
}