// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap.min';

/*** New Registration Form ***/

  #register-form {
    border: 6px solid #FFCB3F;
    padding: 30px;
    margin-top: 3%;
    border-radius: 20px;

    .form-header {
      margin-bottom: 30px;

      .form-event-title {
        font-weight: 500;
        letter-spacing: -2px;
        font-size: 1.2em;
      }

      h1 {
        border-bottom: 4px dashed #F63D62;
        padding-bottom: 20px;
      }
    }

    .form-body{

      .hr-line {
        border-bottom: 1px solid #fff;
        width: 100%;
      }

      .register-form-group{
        margin: 10px;

        label {
          font-size: 1.25em;
          margin-top: auto;
        }
      }

    .btn, .btn-block a {
      color: white;
    }

    .btn, .btn-block a:hover{
      text-decoration: none;
    }

    .btn-primary, .btn-block {
      font-size: 1.25em;
      background-color: #34C6CD;
      border-color: #44969A;
    }

    .btn-primary:hover, .btn-block:hover {
      background-color: #44969A;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .rsvp {
      margin-top: 20px;
    }

    .custom-rsvp {
      margin-top: 20px; 
      @extend .col-lg-6;
    }

    .custom-field {
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      & > label {
        @extend .col-lg-10;
        @extend .col-lg-offset-1;
      }

      .form-group > label {
        /* text field label */
        @extend .col-lg-10;
        @extend .col-lg-offset-1;
      }

      & > div > label {
        /*@extend .col-lg-2;*/
        @extend .col-lg-6;
        @extend .col-lg-offset-4;
        /*&:first {
          @extend .col-lg-offset-1;
        }*/
      } 

      input[type="text"] {
        @extend .col-lg-6;
        @extend .col-lg-offset-4;
      }

      select {
        @extend .col-lg-6;
        @extend .col-lg-offset-4;
      }

      input[type="checkbox"] { 
       /* @extend .col-lg-4;*/
        margin: 10px;
      }

      input[type="radio"] {
        /*@extend .col-lg-6; */
        margin: 10px;
      }

    }
  }
}

/***    **    **     **    ***/

